<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="search-banner text-white py-3 form-arka-plan" id="search-banner" >
    <div class="container py-5 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
                <h2 class="text-white siyah-cerceve">Pesquise o restaurante de sua preferência</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card acik-renk-form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">                                 
                                   
                                    <input placeholder="Data da reserva" type="text" class="form-control " bsDatepicker>                                  
                                  
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="ilceler" class="form-control" >
                                        <option selected>Número de pessoas</option>
                                        <option>1</option>
                                        <option>2</option>                                        
                                        <option>3</option>
                                        <option>4</option>                                        
                                        <option>5</option>
                                        <option>6</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="arac-turu" class="form-control" >
                                        <option selected>Horario</option>
                                        <option>18:00</option>
                                        <option>19:00</option>
                                        <option>20:00</option>                                        

                                    </select>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Cidade, bairro, endereço, nome do restaurante…">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary  pl-5 pr-5">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>
<section>        
    <div class="album py-5 bg-light">
        <div class="container">     
          <div class="row" >      
            <div class="col-md-4" *ngFor="let res of filteredRestaurants">
              <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false" 
                    role="img" 
                    aria-label="Placeholder: ">
                    <title>{{ res.description }}</title>
                    
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="38%" y="50%" fill="#eceeef" dy=".3em">{{ res.description }}</text>
                </svg>
                <div class="card-body">
                  <p class="card-text">ShortDescription property</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="template.show()" >Reservar Vaga</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>   
            
          </div>
        </div>
      </div>
</section>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Restaurante</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]='registerForm'>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Nome</label>
                  <input type="text" class="form-control" 
                  [ngClass]="{'is-invalid': registerForm.get('txtDescription').errors 
                                              && registerForm.get('txtDescription').touched}"
                   formControlName="txtDescription">
                  <div *ngIf="registerForm.get('txtDescription').hasError('required') && registerForm.get('txtDescription').touched"
                   class="invalid-feedback">
                    Nome é obrigatório!
                  </div>
                  <div *ngIf="registerForm.get('txtDescription').hasError('minlength') && registerForm.get('txtDescription').touched"
                  class="invalid-feedback">
                    Nome deve ter no mínimo 4 caracteres!
                  </div>
                  <div *ngIf="registerForm.get('txtDescription').hasError('maxlength') && registerForm.get('txtDescription').touched"
                  class="invalid-feedback">
                    Nome deve ter no máximo 100 caracteres!
                  </div>
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Email</label>
                  <input type="text" class="form-control"
                  [ngClass]="{'is-invalid': registerForm.get('txtEmail').errors 
                                              && registerForm.get('txtEmail').touched}"
                  formControlName="txtEmail">
                  <div class="invalid-feedback">
                      Email é obrigatório!
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Imagem</label>
                  <input type="text" class="form-control" 
                  formControlName="imageURL">
                </div>
              </div> 
          
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Data agendamento</label>
                  <input type="text" class="form-control" bsDatepicker [datesDisabled]="disabledDates"
                  [ngClass]="{'is-invalid': registerForm.get('txtScheduleDate').errors 
                                              && registerForm.get('txtScheduleDate').touched}"
                  formControlName="txtScheduleDate">
                  <div class="invalid-feedback">
                      Data é obrigatória!
                  </div>
                </div> 
                <div class="form-group col-md-4">        
                  <timepicker formControlName="txtScheduleHour" ></timepicker>
                </div>
              </div>
              
          </form>
      </div>
      <div class="modal-footer d-flex">
          <button class="btn btn-secondary" (click)="template.hide()">
              Fechar
            </button>
            <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
              Salvar Alterações
            </button>
      </div>
    </div>
  </div>
</div>