<div class="row">
    
  <div class="col-md-8">
    
    <div class="card profile-card-2">
      <div class="card-img-block">
        <img
          src="http://localhost:5000/resources/images/culinaria-afetiva-7.jpg"
          class="img-fluid"
          style="cursor: pointer;"
          alt="Card image cap"
        />
      </div>
      <div class="card-body pt-3">
        <h4>RESTAURANTE NOME</h4>
        <p class="card-text">
          <b>Local:</b> bla
          <br />
          <b>Data:</b> bla
        </p>
        <hr />
        <p class="card-text">
          <b>Contatos</b><br />
          <small class="text-muted">Telefone: bla</small>
          <br />
          <small class="text-muted">e-mail: bla</small>
        </p>
        <p class="card-text">
          Capacidade:
          <small class="text-muted">bla</small>
        </p>
        <div class="row">
          <div class="icon-block col-md-8 iconesSociais"></div>
          <!--div class="col-md-4 d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">Participar</a>
        </div-->
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
        <div class="row">
            <div class="pr-3 pb-3">
              <bs-datepicker-inline id="dtSchedule" [bsConfig]="datepickerConfig" [bsValue]="bsInlineValue" ></bs-datepicker-inline>
            </div>            
          </div>
    </div>
</div>
